chebi_data/chebi.owl
chebi_data/*.gz
chebi_data/*.tsv
chebi_data/ChEBI_complete_3star.sdf
SMILES_INCHI/chebiDf.tsv
tcdb_data_combined.csv
tcdb_data_chebi.csv
tcdb_chebis.csv
uniprot/*.tsv
bigg_rhea/*.pickle
go/*.owl
bigg_rhea/substrate_to_transporter_neighbors.tsv
bigg_rhea/transporter_to_substrate_neighbors.tsv
bigg_rhea/Intersections_4.txt
chebi_data/*.pkl
tcdb_df.csv
go/go_term_label.csv
tcdb_excerpt.csv